# timezone
TZ=Europe/Zurich

# Pi-hole password
PIHOLE_WEBPASSWORD=changeme

# network
# gets replaced automatically during install/deploy
SERVER_IP=127.0.0.1

# additional minecraft server example
MC_RAM=2G
